@mixin col ($size: null) {

    padding: 0 $gap;

    @if ($size !=null) {
        width: (100% / $column) * $size;
        min-width: (100% / $column) * $size;
    }

    @else {
        flex: 1 1 0;
    }
}