@mixin container {

  margin: 0 auto;
  padding: 0 $gap;

  @media screen and (min-width: device(md) + $gap * 2) and (max-width: device(lg) + $gap * 2) {
    max-width: device(md) + $gap * 2;
  }

  @media screen and (min-width: device(lg) + $gap * 2) and (max-width: device(lx) + $gap * 2) {
    max-width: device(lg)  + $gap * 2;
  }

  @media screen and (min-width: device(lx) + $gap * 2) {
    max-width: device(lx) + $gap * 2;
  }

  &.is-fluid {
    max-width: inherit;
  }

}