@mixin container ($col: 12) {
  $column: $col !global;
  $media_width: map-get($map: $grid, $key: breakpoints);
  $gap: map-get($map: $grid, $key: container);
  $width: map-get($map: $grid, $key: width-grid);
  @if ($width !=null) {
    max-width: $width;
  }
  margin: 0 auto;
  @if ($gap !=null) {
    padding-right: $gap;
    padding-left: $gap;
  }
  @each $width,
  $value in $media_width {
    @if ($value > 900) {
      @media (min-width: $value) {
        max-width: $value
      }
    }
  }

  @media (max-width: 992px) {
    padding-right: $gap * 2;
    padding-left: $gap * 2;
  }
}