@mixin line () {

    margin: 0 (-$gap);

    &:not(.is-desctop) {
        display: flex;
    }

    &.is-mobile {
        display: flex;
    }

    @media screen and (min-width: device(md)) {
        &.is-desctop {
            display: flex;
        }
    }

}