$black: #080808;
$gray: #8B8B8B;
$light: #F3F3F3;
$brown: #BE704B;
$red: #FF3E3E;
$orange: #FFB40F;
$purple: #D858D8;
$pink: #FFD0DB;
$blueSky: #98DFFC;
$blue: #4B4BFF;
$green: #21A121;
$ligthGreen: #8AFF8A;
$yellow: #FFFF51;
$white: #FFFFFF;
$transparent: transparent;